.contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.contact__title {
  font-size: var(--text-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}
.contact__description {
  font-size: var(--text-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
}
.contact__btn {
  font-size: var(--text-xs);
  text-transform: capitalize;
}

/* xs */
@media (min-width: 475px) {
  .contact {
    gap: 1.5rem;
  }
  .contact__title {
    font-size: var(--text-3xl);
  }
  .contact__description {
    font-size: var(--text-base);
  }
  .contact__btn {
    font-size: var(--text-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--text-4xl);
  }
  .contact__description {
    font-size: var(--text-lg);
  }
  .contact__btn {
    font-size: var(--text-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact {
    gap: 2rem;
  }
  .contact__title {
    font-size: var(--text-5xl);
  }
  .contact__description {
    font-size: var(--text-xl);
  }
  .contact__btn {
    font-size: var(--text-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
