.project {
  margin-top: 5rem;
  text-align: center;
}

.project__title {
  font-size: var(--text-2xl);
  color: var(--clr-light);
}

.project__description {
  font-size: var(--text-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
  margin: 1rem auto;
}

.project__title-each {
  font-size: var(--text-base);
  margin-bottom: 1rem;
}

.project__img-wrapper {
  position: relative;
}
.project__img-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(243, 75%, 59%, 0.4);
  transition: background-color 0.3s;
}
.project__img-wrapper:hover::before {
  background-color: hsl(243, 75%, 59%, 0.2);
}

.project__descriptions-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}

.project__title-new {
  display: none;
}

.project__description1 {
  font-size: var(--text-sm);
  color: var(--clr-slate600);
  margin: 1rem 0;
}
.project__description2 {
  font-size: var(--text-sm);
  color: var(--clr-slate400);
  margin-bottom: 1rem;
}
.project__btn {
  font-size: var(--text-sm);
}

/* xs */
@media (min-width: 475px) {
  .project__title {
    font-size: var(--text-3xl);
  }

  .project__description {
    font-size: var(--text-base);
    margin: 1.5rem auto;
  }

  .project__title-each {
    font-size: var(--text-lg);
    margin-bottom: 1.5rem;
  }

  .project__description1 {
    font-size: var(--text-base);
    margin: 1.5rem 0;
  }

  .project__description2 {
    font-size: var(--text-base);
    margin-bottom: 1.5rem;
  }

  .project__btn {
    font-size: var(--text-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem 0;
    grid-template-areas:
      "image1     content1"
      "content2   image2"
      "image3     content3"
      "content4   image4"
      "image5     content5";
  }
  .project__img-1 {
    grid-area: image1;
  }
  .project__img-2 {
    grid-area: image2;
  }
  .project__img-3 {
    grid-area: image3;
  }
  .project__img-4 {
    grid-area: image4;
  }
  .project__img-5 {
    grid-area: image5;
  }
  .project__content-1 {
    grid-area: content1;
  }
  .project__content-2 {
    grid-area: content2;
  }
  .project__content-3 {
    grid-area: content3;
  }
  .project__content-4 {
    grid-area: content4;
  }
  .project__content-5 {
    grid-area: content5;
  }

  .project__title-each {
    display: none;
  }

  .project__title-new {
    display: block;
    font-size: var(--text-base);
  }

  .project__descriptions-wrapper {
    padding: 0 1rem;
  }
  .project__descriptions-wrapper:not(:last-child) {
    margin-bottom: 0rem;
  }

  .project__description1 {
    font-size: var(--text-xs);
    margin: 1em 0;
  }

  .project__description2 {
    font-size: var(--text-xs);
    margin-bottom: 1em;
  }

  .project__btn {
    font-size: var(--text-xs);
  }
}

/* md */
@media (min-width: 768px) {
  .project__title-new {
    font-size: var(--text-lg);
  }

  .project__description1 {
    font-size: var(--text-sm);
  }

  .project__description2 {
    font-size: var(--text-sm);
  }

  .project__btn {
    font-size: var(--text-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .project__title {
    font-size: var(--text-4xl);
  }
  .project__description {
    font-size: var(--text-lg);
  }

  .project__title-new {
    font-size: var(--text-xl);
  }

  .project__description1 {
    font-size: var(--text-base);
  }

  .project__description2 {
    font-size: var(--text-base);
  }

  .project__btn {
    font-size: var(--text-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .project__title {
    font-size: var(--text-5xl);
  }

  .project__description {
    font-size: var(--text-xl);
    margin: 2rem auto;
  }

  .project__title-new {
    font-size: var(--text-2xl);
  }

  .project__description1 {
    font-size: var(--text-lg);
  }

  .project__description2 {
    font-size: var(--text-lg);
  }

  .project__btn {
    font-size: var(--text-lg);
  }

  .project__container {
    max-width: 80%;
    margin-inline: auto;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
