.project {
  margin-top: 5rem;
  text-align: center;
}

.project__title {
  font-size: var(--text-2xl);
  color: var(--clr-light);
}

.project__description {
  font-size: var(--text-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
  margin: 1rem auto;
}

.project__title-each>h3 {
  display: inline-block;
  font-size: var(--text-base);
  margin-bottom: 1rem;
  cursor: pointer;
}

.project__link-icon {
  display: inline-block;
  height: var(--text-base);
}

.project__carousel {
  position: relative;
  width: 100%;
  height: 250px;
}

.project__carousel::before {
  content: "";
  position: absolute;
  z-index: 99;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(243, 75%, 59%, 0.4);
  transition: background-color 0.3s;
}

.project__carousel:hover::before {
  background-color: hsl(243, 75%, 59%, 0.2);
}

.project__carousel .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 200ms;
}

.project__carousel .slide[data-active] {
  opacity: 0.9;
  z-index: 9;
  transition-delay: 0ms;
}

.project__carousel .slide>img {
  width: 86%;
  height: 100%;
  object-fit: cover;
  margin-inline: auto;
}

.carousel__btn {
  position: absolute;
  z-index: 99;
  font-size: var(--text-sm);
  opacity: 0.8;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  padding-inline: 0.5em;
}

.carousel__btn:hover,
.carousel__btn:focus {
  opacity: 1;
  background-color: #334155;
}

.carousel__btn[data-carousel-btn=prev] {
  left: 0
}

.carousel__btn[data-carousel-btn=next] {
  right: 0;
}

.project__descriptions-wrapper:not(:last-child) {
  margin-bottom: 5rem;
}

.project__title-new {
  display: none;
}

.project__title-new>h3 {
  display: inline-block;
  opacity: 0.7;
  cursor: pointer;
}

.project__title-new>h3:hover {
  opacity: 1;
}

.project__description1 {
  font-size: var(--text-sm);
  color: var(--clr-slate400);
  margin: 1rem 0;
}

.project__description2 {
  font-size: var(--text-sm);
  color: var(--clr-slate600);
}

.project__btn {
  font-size: var(--text-sm);
}


/* xs */
@media (min-width: 475px) {
  .project__title {
    font-size: var(--text-3xl);
  }

  .project__description {
    font-size: var(--text-base);
    margin: 1.5rem auto;
  }

  .project__title-each>h3 {
    font-size: var(--text-lg);
    margin-bottom: 1.5rem;
  }

  .project__link-icon {
    height: var(--text-lg);
  }

  .project__carousel {
    height: 300px;
  }

  .carousel__btn {
    font-size: 1.1rem;
  }

  .project__description1 {
    font-size: var(--text-base);
    margin: 1.5rem 0;
  }

  .project__description2 {
    font-size: var(--text-base);
  }

  .project__btn {
    font-size: var(--text-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem 0;
    grid-template-areas:
      "carousel1     content1"
      "content2   carousel2"
  }

  .project__carousel[data-carousel=1] {
    grid-area: carousel1;
  }

  .project__carousel[data-carousel=2] {
    grid-area: carousel2;
  }

  .project__content-1 {
    grid-area: content1;
  }

  .project__content-2 {
    grid-area: content2;
  }

  .project__carousel {
    height: 200px;
  }

  .carousel__btn {
    font-size: var(--text-xs);
  }

  .project__title-each {
    display: none;
  }

  .project__title-new {
    display: inline-block;
  }

  .project__title-new>h3 {
    font-size: var(--text-base);
  }

  .project__link-icon {
    height: var(--text-base);
  }

  .project__descriptions-wrapper {
    padding: 0 1rem;
  }

  .project__descriptions-wrapper:not(:last-child) {
    margin-bottom: 0rem;
  }

  .project__description1 {
    font-size: var(--text-xs);
    margin: 1em 0;
  }

  .project__description2 {
    font-size: var(--text-xs);
  }

  .project__btn {
    font-size: var(--text-xs);
  }
}

/* md */
@media (min-width: 768px) {
  .project__title-new>h3 {
    font-size: var(--text-lg);
  }

  .project__link-icon {
    height: var(--text-lg);
  }

  .project__carousel {
    height: 250px;
  }

  .carousel__btn {
    font-size: var(--text-sm);
  }

  .project__description1 {
    font-size: var(--text-sm);
  }

  .project__description2 {
    font-size: var(--text-sm);
  }

  .project__btn {
    font-size: var(--text-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .project__title {
    font-size: var(--text-4xl);
  }

  .project__description {
    font-size: var(--text-lg);
  }

  .project__carousel {
    height: 350px;
  }

  .carousel__btn {
    font-size: 1.2rem;
  }

  .project__title-new>h3 {
    font-size: var(--text-xl);
  }

  .project__link-icon {
    height: var(--text-xl);
  }

  .project__description1 {
    font-size: var(--text-base);
  }

  .project__description2 {
    font-size: var(--text-base);
  }

  .project__btn {
    font-size: var(--text-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .project__title {
    font-size: var(--text-5xl);
  }

  .project__description {
    font-size: var(--text-xl);
    margin: 2rem auto;
  }

  .project__title-new>h3 {
    font-size: var(--text-2xl);
  }

  .project__link-icon {
    height: var(--text-2xl);
  }

  .project__description1 {
    font-size: var(--text-lg);
  }

  .project__description2 {
    font-size: var(--text-lg);
  }

  .project__btn {
    font-size: var(--text-lg);
  }

  .project__container {
    max-width: 80%;
    margin-inline: auto;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */